@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;

  outline: 0;

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
}

:root {
  --color-white: #fff;
  --color-green: #50FA7B;
  --color-gray: #24252E;
  --color-gray-light: #282A36;
  --color-purple: #697AFA;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-white);

  background: var(--color-gray);

  height: 100vh;
}

/* ===== Header ===== */

header {
  width: 100%;
  height: 68px;
  background: var(--color-gray-light);
  border: 0;
  border-bottom: 2px solid var(--color-green);
}

header .content {
  display: flex;
  justify-content: space-between;
  margin: 0 40px; 
  position: relative;
}

header .content ul {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

header .content ul li {
  list-style: none;

  transition: all 200ms;
}
header .content ul li:nth-of-type(2) {
  margin-left: 20px;
}

header .content ul li:hover {
  transform: scale(1.2);
  opacity: 0.9;
}

header .content ul li#selection {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-radius: 100px;

  background: var(--color-purple);
}

header .content ul li a {
  text-decoration: none;

  font-weight: bold;
  font-size: 17;
  color: #fff;
}

header .content #icons {
  margin-top: 20px;
}

header .content #icons img {
  margin-left: 30px;

  transition: all 200ms;
}

header .content #icons img:hover {
  transform: scale(1.3);
  opacity: 0.9;
}

/* ===== about ===== */

main {
  max-width: 1200px;
  margin: 0 auto;

  width: 100%;
  height: 370px;
  background: var(--color-gray-light);
  box-shadow: 19px 17px 6px -5px rgba(0,0,0,0.05);
}

main .content #teacher {
  display: flex;
  justify-content: center;
}

main .content #teacher #avatar {
  position: relative;
  margin-top: 50px;
  margin-right: 6%;
}

main .content #teacher #avatar img {
  max-width: 250px;
  width: 100%;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;

  position: relative;
  border: 2px solid var(--color-green);
  z-index: 2;
}

main .content #teacher #avatar #circle {
  z-index: 1;
  max-width: 250px;
  width: 100%;
  height: 250px;
  border-radius: 50%;
  background: var(--color-green);

  position: absolute;
  left: 21%;
  top: 9%;
}

main .content #teacher #presentation {
  max-width: 450px;
  width: 100%;

  margin-top: 100px;
  margin-right: 10%;
}

#classes {
  margin-top: 80px;
  background: #24252E;
}

#classes h1 {
  font-size: 3em;
  text-align: center;

  margin-bottom: 20px;
}

#classes .card {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

#classes .card .video img {
  width: 400px;
  border-radius: 6px;
  border: solid 8px var(--color-purple);
  cursor: pointer;

  transition: all 200ms;
}
#classes .card .video img:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
}

#classes .card .description {
  width: 400px;
  margin-left: 40px;
}

#classes .card .description h2 {
  font-size: 27px;
}

#classes .card .description p {
  margin-top: 10px;
}

#classes .card .infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 84px;
}

#classes .card .infos span {
  padding: 6px 35px;
  border-radius: 30px;
  
  font-size: 17px;

  background: var(--color-purple);
}

.content button {
  display: flex;
  margin: 0 auto;
  padding: 12px 50px;

  font-size: 16px;
  color: #fff;

  cursor: pointer;

  border: 0;
  border-radius: 25px;
  background: var(--color-purple);

  transition: all 200ms;
}

.content button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/* ===== footer ===== */

footer#footer {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

footer#footer a {
  color: var(--color-green);
  text-decoration: none;
}
footer#footer a:hover {
  text-decoration: underline;
}